### Work Orders

In [ ]:
import datetime
print (str(datetime.datetime.today() ) )

import pandas as pd

import numpy as np

path = ""

#df = pd.read_csv(path + "Heating_Work_Orders.csv", low_memory=False)

Direct Connect to Maximo

In [ ]:
import datetime
print (str(datetime.datetime.today() ) )


print ("Import packages")
#pip install cx_Oracle
#pip install sqlalcheny
#Download Oracle- https://www.oracle.com/database/technologies/instant-client/downloads.html
#Connect to cx_Oracle and import packages
import cx_Oracle

#create path to downloaded oracle files and initiate
cx_Oracle.init_oracle_client(lib_dir=r"C:\Oracle\instantclient_21_9")

import sqlalchemy
from sqlalchemy.schema import CreateIndex
from sqlalchemy import Table, Column, Integer, Numeric,String, ForeignKey
from sqlalchemy import MetaData
from sqlalchemy import insert
metadata= MetaData()

from sqlalchemy.engine import create_engine


print ("DONE")

### 22-23 Season Current

In [ ]:
import datetime
print (str(datetime.datetime.today()) )


print ("Import work orders")
import time
start = time.time()


DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = '' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)

import pandas as pd


workorder_query = """

select max_wo.worktype,
       max_wo.problemcode,
       max_wo.failurecode,
       max_wo.wonum,
       max_wo.parent,
       TRUNC(max_wo.reportdate) AS Report_Date,
       max_wo.status,
       TRUNC(max_wo.statusdate) AS Status_Date,
       max_wo.location,
       max_wo.haschildren,
       max_wo.OWNERGROUP,
       max_wo.ZZSQFEET,
       max_wo.ZZSUBWORKTYPE,
       max_wo.ZZCRAFT,               
       max_wo.ZZLEADPOSSIBLE,        
       max_wo.ZZRRPWORKREQUIRED,
       max_wo.ZZAPTTEMPREAD,
       max_wo.ZZWATTEMPREAD,
       max_wo.ZZTEMP,
       max_wo.ZZTEMPAPP
       
from Maximo.workorder max_wo

--WHERE TRUNC(max_wo.reportdate) >= sysdate - interval '1' year AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'

--WHERE max_wo.reportdate >= '01-OCT-2021' AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'

WHERE (max_wo.reportdate >= '01-OCT-2022' AND max_wo.reportdate <= '01-MAY-2023')  AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'


"""

df1 = pd.read_sql_query(workorder_query, engine)

print (len(df1))

print ("DONE")

In [ ]:
df1.shape

### 21-22 Season

In [ ]:
import datetime
print (str(datetime.datetime.today()) )


print ("Import work orders")
import time
start = time.time()


DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = '' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)

import pandas as pd


workorder_query = """

select max_wo.worktype,
       max_wo.problemcode,
       max_wo.failurecode,
       max_wo.wonum,
       max_wo.parent,
       TRUNC(max_wo.reportdate) AS Report_Date,
       max_wo.status,
       TRUNC(max_wo.statusdate) AS Status_Date,
       max_wo.location,
       max_wo.haschildren,
       max_wo.WORKTYPE,
       max_wo.OWNERGROUP,
       max_wo.ZZSQFEET,
       max_wo.ZZSUBWORKTYPE,
       max_wo.ZZCRAFT,               
       max_wo.ZZLEADPOSSIBLE,        
       max_wo.ZZRRPWORKREQUIRED,
       max_wo.ZZAPTTEMPREAD,
       max_wo.ZZWATTEMPREAD,
       max_wo.ZZTEMP,
       max_wo.ZZTEMPAPP
       
from Maximo.workorder max_wo

--WHERE TRUNC(max_wo.reportdate) >= sysdate - interval '1' year AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'

--WHERE max_wo.reportdate >= '01-OCT-2021' AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'

WHERE (max_wo.reportdate >= '01-OCT-2021' AND max_wo.reportdate <= '01-MAY-2022')  AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'


"""

#df2 = pd.read_sql_query(workorder_query, engine)
#print (len(df2))

print ("DONE")

In [ ]:
#df2.to_csv(path + "Work Orders 21-22 Season.csv", index=False)

### 20-21 Season

In [ ]:
import datetime
print (str(datetime.datetime.today()) )


print ("Import work orders")
import time
start = time.time()


DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = '' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)

import pandas as pd


workorder_query = """

select max_wo.worktype,
       max_wo.problemcode,
       max_wo.failurecode,
       max_wo.wonum,
       max_wo.parent,
       TRUNC(max_wo.reportdate) AS Report_Date,
       max_wo.status,
       TRUNC(max_wo.statusdate) AS Status_Date,
       max_wo.location,
       max_wo.haschildren,
       max_wo.WORKTYPE,
       max_wo.OWNERGROUP,
       max_wo.ZZSQFEET,
       max_wo.ZZSUBWORKTYPE,
       max_wo.ZZCRAFT,               
       max_wo.ZZLEADPOSSIBLE,        
       max_wo.ZZRRPWORKREQUIRED,
       max_wo.ZZAPTTEMPREAD,
       max_wo.ZZWATTEMPREAD,
       max_wo.ZZTEMP,
       max_wo.ZZTEMPAPP
       
from Maximo.workorder max_wo

--WHERE TRUNC(max_wo.reportdate) >= sysdate - interval '1' year AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'

--WHERE max_wo.reportdate >= '01-OCT-2021' AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'

WHERE (max_wo.reportdate >= '01-OCT-2020' AND max_wo.reportdate <= '01-MAY-2021')  AND max_wo.status != 'CAN'AND max_wo.zzcraft = 'HPT'


"""

#df3 = pd.read_sql_query(workorder_query, engine)

#print (len(df3))


print ("DONE")

In [ ]:
#df3.to_csv(path + "Work Orders 20-21 Season.csv", index=False)

### Read previous season data

In [ ]:
print (str(datetime.datetime.today()) )

df2 = pd.read_csv(path + "Work Orders 21-22 Season.csv", low_memory=False)
df3 = pd.read_csv(path + "Work Orders 20-21 Season.csv", low_memory=False)
print (df1.shape)
print (df2.shape)
print (df3.shape)

### Concate work orders

In [ ]:
print (str(datetime.datetime.today()) )

#df2 = pd.read_csv(path + "Work Orders 21-22 Season.csv", low_memory=False)
#df3 = pd.read_csv(path + "Work Orders 20-21 Season.csv", low_memory=False)


df1["Season"] = "2022-2023"
print (df1.shape)
df2["Season"] = "2021-2022"
print (df2.shape)
df3["Season"] = "2020-2021"
print (df3.shape)


df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df3.reset_index(drop=True)



frames = [df1, df2, df3]

df = pd.concat(frames, axis=0).reset_index(drop=True)

print (df.shape)

df["report_date"] = pd.to_datetime(df["report_date"])
df = df.sort_values(by = 'report_date', ascending=True).reset_index(drop=True)

In [ ]:
#df1["report_date"] = pd.to_datetime(df1["report_date"])
#df1 = df1.sort_values(by = 'report_date', ascending=True).reset_index(drop=True)
#df1

In [ ]:
#df2["report_date"] = pd.to_datetime(df2["report_date"])
#df2 = df2.sort_values(by = 'report_date', ascending=True).reset_index(drop=True)
#df2

In [ ]:
#df2.dtypes

Calculate number of nulls in temperature readings

In [ ]:
print ("Apt temp null percent")
print("Total null", df["zzapttempread"].isnull().sum())
print (round(df["zzapttempread"].isnull().sum()/float(len(df)), 2))
print()
print ("Water temp null percent")
print("Total null", df["zzwattempread"].isnull().sum())
print (round(df["zzwattempread"].isnull().sum()/float(len(df)), 2))

Calculate the mode for apartment and water temperature

In [ ]:
print ("apt temp mean:", df["zzapttempread"].mean() )
print ("apt temp median:", df["zzapttempread"].median() )
print ("apt temp standard dev:", df["zzapttempread"].std() )
print ("apt temp mode:", df["zzapttempread"].mode() )

In [ ]:
print ("water temp mean:", df["zzwattempread"].mean() )
print ("water temp median:",df["zzwattempread"].median() )
print ("water temp standard dev:", df["zzwattempread"].std() )
print ("water temp mode:", df["zzwattempread"].mode() )

### Labor Transactions

Season 22-23

In [ ]:
#dl = pd.read_csv(path + "labtransHPT.csv", low_memory=False)

import pandas as pd

print ("Import labor transactions")

import time
start = time.time()


import datetime
print (str(datetime.datetime.today()).split()[0] )


#from datetime import datetime
#print (start )

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = '' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)


labtrans_query = """

select labtrans.LABORCODE,
       labtrans.ENTERDATE,
       labtrans.REFWO
       
from Maximo.labtrans labtrans

WHERE (labtrans.enterdate >= '01-OCT-2022' AND labtrans.enterdate <= '01-MAY-2023') AND (labtrans.transtype = 'WORKWITHSEQ' OR labtrans.transtype = 'WORK')

"""


#WHERE TRUNC(xrf_det.entrydate) >= sysdate - interval '1' year AND xrf_det.finalclassification = 'Positive' AND xrf_det.side != 'Calibrate' AND xrf_det.side != 'CALIBRATE'


dl1 = pd.read_sql_query(labtrans_query, engine)

print (len(dl1))

print ("DONE")

Season 21-22

In [ ]:
#dl = pd.read_csv(path + "labtransHPT.csv", low_memory=False)


import pandas as pd

print ("Import labor transactions")

import time
start = time.time()


import datetime
print (str(datetime.datetime.today()).split()[0] )


#from datetime import datetime
#print (start )

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = '' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)


labtrans_query = """

select labtrans.LABORCODE,
       labtrans.ENTERDATE,
       labtrans.REFWO
       
from Maximo.labtrans labtrans

WHERE (labtrans.enterdate >= '01-OCT-2021' AND labtrans.enterdate <= '01-MAY-2022') AND (labtrans.transtype = 'WORKWITHSEQ' OR labtrans.transtype = 'WORK')

"""


#WHERE TRUNC(xrf_det.entrydate) >= sysdate - interval '1' year AND xrf_det.finalclassification = 'Positive' AND xrf_det.side != 'Calibrate' AND xrf_det.side != 'CALIBRATE'


dl2 = pd.read_sql_query(labtrans_query, engine)

print (len(dl2))

print ("DONE")

In [ ]:
dl1['enterdate'] = pd.to_datetime(dl1['enterdate'] )
dl1 = dl1.sort_values(by = 'enterdate', ascending=True).reset_index(drop=True)

#dl1

Season 20-21

In [ ]:
import pandas as pd

print ("Import labor transactions")

import time
start = time.time()


import datetime
print (str(datetime.datetime.today()).split()[0] )


#from datetime import datetime
#print (start )

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = '' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)


labtrans_query = """

select labtrans.LABORCODE,
       labtrans.ENTERDATE,
       labtrans.REFWO
       
from Maximo.labtrans labtrans

WHERE (labtrans.enterdate >= '01-OCT-2020' AND labtrans.enterdate <= '01-MAY-2021') AND (labtrans.transtype = 'WORKWITHSEQ' OR labtrans.transtype = 'WORK')

"""


#WHERE TRUNC(xrf_det.entrydate) >= sysdate - interval '1' year AND xrf_det.finalclassification = 'Positive' AND xrf_det.side != 'Calibrate' AND xrf_det.side != 'CALIBRATE'


dl3 = pd.read_sql_query(labtrans_query, engine)

print (len(dl3))

print ("DONE")

In [ ]:
dl2['enterdate'] = pd.to_datetime(dl2['enterdate'] )
dl2 = dl2.sort_values(by = 'enterdate', ascending=True).reset_index(drop=True)
#dl2

In [ ]:
print (str(datetime.datetime.today()).split()[0] )

print (dl1.shape)
print (dl2.shape)
print (dl3.shape)

frames = [dl1, dl2, dl3]
dl = pd.concat(frames).reset_index(drop=True)

print (dl.shape)
dl = dl.sort_values(by = 'enterdate', ascending=True).reset_index(drop=True)

In [ ]:
#dl

Subset Work Order Dataset

In [ ]:
print (str(datetime.datetime.today()).split()[0] )


dl["refwo"] = dl["refwo"].astype(str).map(str.strip)
df["wonum"] = df["wonum"].astype(str).map(str.strip)


labtransList = sorted(list(set(dl["refwo"].tolist() )))

df2 = df[df['wonum'].isin(labtransList)].reset_index(drop=True)

print (len(df))
print (len(df2))

In [ ]:
df2["wonum"][0]

In [ ]:
dl["refwo"][0]

In [ ]:
#df2.dtypes

In [ ]:
print ("Apt temp null percent")
print("Total null", df2["zzapttempread"].isnull().sum())
print (round(df2["zzapttempread"].isnull().sum()/float(len(df2)), 2))
print()
print ("Water temp null percent")
print("Total null", df2["zzwattempread"].isnull().sum())
print (round(df2["zzwattempread"].isnull().sum()/float(len(df2)), 2))

In [ ]:
print ("apt temp mean:", df2["zzapttempread"].mean() )
print ("apt temp median:",df2["zzapttempread"].median() )
print ("apt temp standard dev:", df2["zzapttempread"].std() )
print ("apt temp mode:", df2["zzapttempread"].mode() )

print ("water temp mean:", df2["zzwattempread"].mean() )
print ("water temp median:", df2["zzwattempread"].median() )
print ("water temp standard dev:", df2["zzwattempread"].std() )
print ("water temp mode:", df2["zzwattempread"].mode() )

### Merge person data with labor transactions

In [ ]:
#dp = pd.read_csv(path + "person.csv", low_memory=False)
import pandas as pd

print ("Import person data")

print (str(datetime.datetime.today()) )


#from datetime import datetime
#print (start )

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = '' #enter your username
PASSWORD = '' #enter your password
#HOST = 'exadm1-scan' #enter the oracle db host url
HOST = 'v' #enter the oracle db host url

PORT = 1521 # enter the oracle port number
SERVICE = 'maxdb' # enter the oracle db service name
ENGINE_PATH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH)


person_query = """

select *  
       
from Maximo.person 

"""



#WHERE TRUNC(xrf_det.entrydate) >= sysdate - interval '1' year AND xrf_det.finalclassification = 'Positive' AND xrf_det.side != 'Calibrate' AND xrf_det.side != 'CALIBRATE'


dp = pd.read_sql_query(person_query, engine)


dp = dp[["personid", "status", "displayname","firstname","lastname","department","title", "zzhrtitle"]]
dp["personid"] = dp["personid"].astype(str).map(str.strip)
dp = dp.rename(columns={'personid': 'laborcode'})

print ("DONE")

In [ ]:
#dp.dtypes

In [ ]:
print (str(datetime.datetime.today()) )

pd.set_option('chained_assignment', None)

#dp = dp[["PERSONID", "STATUS", "DISPLAYNAME","FIRSTNAME","LASTNAME","DEPARTMENT","TITLE", "PERSONUID", "ZZHRTITLE"]]
dp = dp[["laborcode", "displayname","title"]]
dp["laborcode"] = dp["laborcode"].astype(str).map(str.strip)
#dp = dp.rename(columns={'personid': 'laborcode'})
dl["laborcode"] = dl["laborcode"].astype(str).map(str.strip)

print (len(dl))
dl2 = pd.merge(dl, dp, how='left', on=['laborcode'])
print (len(dl2))

print ("display name null")
print (dl2["displayname"].isnull().sum())

### Groupby Labor Transactions to merge with work orders

In [ ]:
print (str(datetime.datetime.today()) )


print ("Groupby labor transactions to get names")

dl3 = dl2[["refwo", "displayname"]]


dl3["displayname"] = dl3["displayname"].astype(str) 

f = dl3.groupby('refwo')['displayname'].apply(lambda x: "{%s}" % ', '.join(x))



X = pd.DataFrame(f)

X = X.reset_index(drop=False)

X['displayname'] = X['displayname'].str.replace('{', '')
X['displayname'] = X['displayname'].str.replace('}', '')



print ("Subset to get only work order numbers in the work orders")

workordernumbers = sorted(list(set(df2["wonum"].tolist() )))


print (len(X))

X = X[X['refwo'].isin(workordernumbers)]

print (len(X))


print ("DONE")

In [ ]:
print (str(datetime.datetime.today()) )


X = X.reset_index(drop=True)

print (len(X))

namelist = X["displayname"].tolist()

print (len(namelist))


namelistsorted = []

for i in range(0, len(namelist)):
    #if i%10000 == 0:
    #    print (i)
    
    a =  namelist[i]
    #print (a)
    a = a.split(", ")
    a = sorted(list(set(a)))
    #a = sorted(a)
    #print (a)
    
    a = str(a)
    namelistsorted.append(a)
    #print ()
    #print (len(a))
    
    #X["displayname"][i] = a

    
namelistsorteddf = pd.DataFrame(namelistsorted)

print (len(X))
print (len(namelistsorteddf))

print ("Merge with grouped labor transactions")

X = pd.concat([X, namelistsorteddf], axis=1)

X[0] = X[0].str.replace('[', '')
X[0] = X[0].str.replace(']', '')
X[0] = X[0].str.replace("'", "")

X = X[["refwo", 0]]
X = X.rename(columns={0: 'displayname'})

### Insert into work order data

In [ ]:
print (str(datetime.datetime.today()) )
XDic = X.set_index('refwo')['displayname'].to_dict()
df2["Emplpoyee Name"] = df2["wonum"].map(XDic)

In [ ]:
#df2.dtypes

In [ ]:
#df3.to_csv(path + "test.csv")

### Create a 70-120 string

In [ ]:
df2 = df2.reset_index(drop=True)

#df3

In [ ]:
print ("apt temp mean:", df2["zzapttempread"].mean() )
print ("apt temp median:", df2["zzapttempread"].median() )
print ("apt temp standard dev:", df2["zzapttempread"].std() )
print ("apt temp mode:", df2["zzapttempread"].mode() )

print ("water temp mean:", df2["zzwattempread"].mean() )
print ("water temp median:", df2["zzwattempread"].median() )
print ("water temp standard dev:", df2["zzwattempread"].std() )
print ("water temp mode:", df2["zzwattempread"].mode() )

In [ ]:
#df2

### Count employees with 70-120 combo

In [ ]:
df2["zzapttempread"] = df2["zzapttempread"].astype(str).map(str.strip)
df2["zzapttempread"]  = df2["zzapttempread"] .str.split(".").str[0]

df2["zzwattempread"] = df2["zzwattempread"].astype(str).map(str.strip)
df2["zzwattempread"]  = df2["zzwattempread"].str.split(".").str[0]

df2["AptWatTemp"] = df2["zzapttempread"] + "_" + df2["zzwattempread"]

In [ ]:
df2count = df2[df2["AptWatTemp"] == "70_120"].reset_index(drop=True)

print (len(df2count))

print (len(df2))

Create 70_120 Flag

In [ ]:
#df2["70_120 Temp Combo"] = ""

print (str(datetime.datetime.today()) )


tempcombolist = df2["AptWatTemp"].tolist()
print (len(tempcombolist))
print (len(df2))

templist = []

for i in range(0, len(tempcombolist)):
    if tempcombolist[i] == "70_120":
        templist.append(1)
    else:
        templist.append(0)
        
print (len(templist))


qn = pd.DataFrame(templist)

print (len(qn))

df2["70_120 Temp Combo"] = qn

Export Bad Actors and Dates of 70-120

In [ ]:
dfb = df2[["report_date", "Emplpoyee Name", "AptWatTemp", "70_120 Temp Combo", "Season", "haschildren", "failurecode", "problemcode"]]
#dfb.head(3)

In [ ]:
dfb.to_csv(path + "Bad Actors Time Series.csv", index=False)

Calculate Mode

In [ ]:
print (str(datetime.datetime.today()).split()[0] )


qn = pd.DataFrame(columns=('Emplpoyee Name', 'Mode of Temp Combo', 'Count of Mode', 'Total Number of Work Orders'))

names = sorted(list(set(dfb["Emplpoyee Name"].tolist()  )))

for i in range(0, len(names)):
    n = names[i]
    
    dfb2 = dfb[dfb["Emplpoyee Name"] == n].reset_index(drop=True)

    #dfb2 = dfb2[dfb2["AptWatTemp"] != "nan_nan"].reset_index(drop=True)
    
    dfb2["Count"] = 1
    
    dfb3 = dfb2[["AptWatTemp", "Count"]]
    
    dfb3G = dfb3.groupby(['AptWatTemp']).sum()
    dfb3G = dfb3G.add_suffix('').reset_index()
    dfb3G = dfb3G.sort_values(by = 'Count', ascending=False).reset_index(drop=True)
    
    qn.loc[i] = [n,dfb3G["AptWatTemp"][0],dfb3G["Count"][0], len(dfb2) ]

    

qn["Mode Relative Frequency"] = qn["Count of Mode"]/qn["Total Number of Work Orders"]

qn["Mode Relative Frequency"] = qn["Mode Relative Frequency"].astype(float)

qn["Mode Relative Frequency"] = qn["Mode Relative Frequency"].round(2)

print ("DONE")

Create 70_120 Flag

In [ ]:
qn["70_120 Flag"] = "No"
for i in range(0, len(qn)):
    if qn["Mode of Temp Combo"][i] == "70_120":
        qn["70_120 Flag"][i] = "Yes"

In [ ]:
qn.to_csv(path + "Modes of Temp Combo.csv", index=False)

In [ ]:
#qn

In [ ]:
path

In [ ]:
"""
df4c = df4[["Emplpoyee Name"]]
df4c["Count"] = 1

df4c["Emplpoyee Name"] = df4c["Emplpoyee Name"].astype(str)

df4c = df4c.groupby(['Emplpoyee Name']).sum()
df4c = df4c.add_suffix('').reset_index()

df4c = df4c.sort_values(by = 'Count', ascending=False).reset_index(drop=True)


"""

In [ ]:
#df4c.to_csv(path + "Employee Names 70-120.csv", index=False)

### Count frequency of degree combinations

In [ ]:
dftemp = df2[["AptWatTemp"]]
dftemp["Count"] = 1

dftemp = dftemp.groupby(['AptWatTemp']).sum()

dftemp = dftemp.add_suffix('').reset_index()

dftemp = dftemp.sort_values(by = 'Count', ascending=False).reset_index(drop=True)

dftemp["Percent"] = dftemp["Count"]/float(dftemp["Count"].sum())

dftemp["Percent"] = (dftemp["Percent"].round(3))*100

In [ ]:
#df2.dtypes

In [ ]:
dftemp.to_csv(path + "Temperature Combo Counts.csv", index=False)

### Insert development name

In [ ]:
print (str(datetime.datetime.today()).split()[0] )


df2["location"] = df2["location"].astype(str)
df2["tds"] = df2["location"].str.split(".").str[0]
df2["tds"] = df2["tds"].map(str.strip)

df2["tds"] = df2["tds"].astype(int)

path2 = ""

dv = pd.read_csv(path2 + "zzdevelopments.csv", low_memory=False)

dvDic = dv.set_index('ZZDEVNUM')['DESCRIPTION'].to_dict()
df2["Development"] = df2["tds"].map(dvDic)

print ("DONE")

In [ ]:
#path = "C:\\Users\\MehriD01\\Documents\\HPT Analysis\\"

#df2.to_csv(path + "test.csv", index=False)

### Insert building

In [ ]:
#def buildingconvert(x):
#    if len(x)==1:
#        return "0" + x
    
#db["BLDGNO"] = map(buildingconvert, db.BLDGNO)

In [ ]:
print (str(datetime.datetime.today()).split()[0] )


path2 = ""

db = pd.read_csv(path2 + "zzbuildings.csv", low_memory=False)

db["BUILDING"] = db["BUILDING"].astype(str)
db["BLDGNO"] = db["BLDGNO"].astype(str)

db["TDS"] = db["BUILDING"].str.split(".").str[0]

#convert 1 to 01
for i in range(0, len(db)):
    a = db["BLDGNO"][i]
    if len(a) == 1:
        db["BLDGNO"][i] = "0" + db["BLDGNO"][i]

db["Building"] = db["TDS"] + "." + db["BLDGNO"]

sitid = set(db["SITEID"].tolist() )
print(sitid)

db["SITEID"] = db["SITEID"].str.replace('BK', 'BROOKYN')
db["SITEID"] = db["SITEID"].str.replace('BX', 'BRONX')
db["SITEID"] = db["SITEID"].str.replace('QS', 'QUEENS/STATEN ISLAND')
db["SITEID"] = db["SITEID"].str.replace('MN', 'MANHATTAN')

db["ADDRESS"] = db["ADDRESS"] + ", " + db["SITEID"]


df2["Building No"] = df2['location'].str.split(".").str[1]

df2["tds"] = df2["tds"].astype(str)
df2["Building"] = df2["tds"] + "." + df2["Building No"]


#dictionary to insert data
dbDic = db.set_index('Building')['ADDRESS'].to_dict()

df2["Building Address"] = df2["Building"].map(dbDic)

print ("DONE")

Create Borough

In [ ]:
print (str(datetime.datetime.today()).split()[0] )

df2['Borough'] = df2['Building Address'].str.split(",").str[1]
df2['Address'] = df2['Building Address'].str.split(",").str[0]

df2['Borough'] = df2['Borough'].astype(str).map(str.strip)
df2['Address'] = df2['Address'].astype(str).map(str.strip)

### Insert GIS Coords

In [ ]:
print (str(datetime.datetime.today()).split()[0] )


dgis = pd.read_csv(path2 + "nycha_loc_gps.csv", low_memory=False)

dgis["TDS_NUM"] = dgis["TDS_NUM"].astype(str)
dgis["BLDG_NUM"] = dgis["BLDG_NUM"].astype(str)


for i in range(0, len(dgis)):
    a = dgis["BLDG_NUM"][i]
    if len(a) == 1:
        dgis["BLDG_NUM"][i] = "0" + dgis["BLDG_NUM"][i]

dgis["Building"] = dgis["TDS_NUM"] + "." + dgis["BLDG_NUM"]


lat = dgis.set_index('Building')['LATITUDE'].to_dict()
df2["lat"] = df2["Building"].map(lat)

lon = dgis.set_index('Building')['LONGITUDE'].to_dict()
df2["lon"] = df2["Building"].map(lon)

print ("DONE")

### Count 70-120 temp combo by employee

In [ ]:
print (str(datetime.datetime.today()).split()[0] )


df3 = df2[["Emplpoyee Name", "Season", "70_120 Temp Combo"]]

df3["Count"] = 1

df3 = df3.groupby(["Emplpoyee Name", "Season"]).sum()

df3 = df3.add_suffix('').reset_index()

df3["Count"] = df3["Count"].astype(float)

#df3 = df3[df3["Count"] > 20].reset_index(drop=True)

df3["Percent"] = df3["70_120 Temp Combo"]/df3["Count"]

print ("DONE")

In [ ]:
#df2.dtypes

In [ ]:
print ("Output results")

df2.to_csv(path + "HPT 70_120 Analysis 20_22 Seasons.csv", index=False)

df3.to_csv(path + "Count 70-120 by Employee 20_22 Seasons.csv", index=False)

print ("DONE")